/**
 * Template for voucher game
 * --------------------------------------
 * @author : Budiliauw87
 * @date   : 27-06-2018
 * @email  : budiliauw87@gmail.com
 * --------------------------------------
 * This template using framework
 * Materialize Css for more info 
 * Url https://materializecss.com/
 * 
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-weight: 300;
    line-height: 1.5em;
}

h1,
.h1 {
    font-size: 3.8em;
    line-height: 1.15em;
}

h2,
.h2 {
    font-size: 2.6em;
}

h3,
.h3 {
    font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
}

h4,
.h4 {
    font-size: 1.3em;
    line-height: 1.55em;
}

h5,
.h5 {
    font-size: 1.25em;
    line-height: 1.55em;
    margin-bottom: 15px;
}

h6,
.h6 {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
}

#main {
    background: #FFFFFF;
    position: relative;
    flex: 1 0 auto;
}

.main-card {
    margin: -5px 30px 20px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

footer.page-footer {
    padding-top: 0px;
}

.box {
    background-color: #fff;
    border-radius: 3px;
}

/**
 * padding
 */

html body .p-0 {
    padding: 0px;
}

html body .p-10 {
    padding: 10px;
}

html body .p-20 {
    padding: 20px;
}

html body .p-30 {
    padding: 30px;
}

html body .p-l-0 {
    padding-left: 0px;
}

html body .p-l-10 {
    padding-left: 10px;
}

html body .p-l-20 {
    padding-left: 20px;
}

html body .p-r-0 {
    padding-right: 0px;
}

html body .p-r-10 {
    padding-right: 10px;
}

html body .p-r-20 {
    padding-right: 20px;
}

html body .p-r-30 {
    padding-right: 30px;
}

html body .p-r-40 {
    padding-right: 40px;
}

html body .p-t-0 {
    padding-top: 0px;
}

html body .p-t-10 {
    padding-top: 10px;
}

html body .p-t-20 {
    padding-top: 20px;
}

html body .p-t-30 {
    padding-top: 30px;
}

html body .p-b-0 {
    padding-bottom: 0px;
}

html body .p-b-5 {
    padding-bottom: 5px;
}

html body .p-b-10 {
    padding-bottom: 10px;
}

html body .p-b-20 {
    padding-bottom: 20px;
}

html body .p-b-30 {
    padding-bottom: 30px;
}

html body .p-b-40 {
    padding-bottom: 40px;
}

html body .m-0 {
    margin: 0 !important;
}
/**
 * preloader
 */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #eceff1;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1001;
}

#loader span {
    margin-left: 35px;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.progress {
    background-color: rgba(255, 64, 129, 0.22);
}

.btn-round {
    border-radius: 20px;
}


/* JavaScript Turned Off */

.no-js #loader-wrapper {
    display: none;
}

.extend-nav {
    color: #fff;
    background: #0D47A1;
    height: 200px;
}

.extend-nav ul {
    margin-right: 10px;
}


#formsearch .input-field input[type=search] {
    color: #fff;
}

#formsearch .input-field input[type=search]:focus {
    color: #555;
}

.slider-header {
    margin-top: -10vh;
}

.slider-item {
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.ribbon {
    margin-top: -32vh;
    height: 60vh;
    background-position: center center;
    background-size: cover;
}

.ribbon .container {
    padding-top: 15vh;
    color: #FFFFFF;
    text-align: center;
}

.title {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman";
}

.title-slider {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 68px;
    z-index: 1;
}

.collection h6 {
    margin-right: 15px;
}

.collection .collection-item.highlight {
    min-height: 84px;
    padding-left: 90px;
    position: relative;
}

.collection .collection-item.highlight .date-news {
    position: absolute;
    top: 10px;
    right: 16px;
    font-family: "Roboto Slab", "Times New Roman";
    font-weight: 300;
}

.collection .collection-item.highlight:not(.circle-clipper)>.img-news,
.collection .collection-item.highlight :not(.circle-clipper)>.img-news {
    position: absolute;
    width: 70px;
    height: 70px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle
}

.collection-item.highlight a {
    color: #000;
}

.collection-item.highlight p {
    margin: 0;
}

.collection-item.highlight a:visited {
    color: grey;
}

.collection-item.highlight a:hover {
    color: red;
}

.collection-item.highlight a:active {
    color: red;
}






/**
 * widget content
 */

.widget-content {
    padding: 15px 10px 10px 10px;
}

.widget-content span {
    font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
    width: 50%;
}

.resizeimg {
    width: auto;
    height: 200px;
}





/**
 * login page
 */

.login-form {
    margin: -7vh 30px 20px;
    border-radius: 6px;
}


/**
 * dropdown
 */

.notification-badge {
    position: relative;
    right: 5px;
    top: -20px;
    color: #ffffff;
    background-color: #FF4081;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 4px 5px;
}

#dropdown-account {
    min-width: 250px;
}

#dropdown-account h5 {
    text-transform: capitalize;
    margin: 0;
}

#dropdown-account.profile-dropdown span {
    font-weight: 300;
    font-size: 0.8em;
}

#dropdown-account li {
    padding: 10px;
    font-size: 1rem;
}

#dropdown-account li>a {
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
}

#dropdown-account li>a>i {
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    margin: 0 10px 0 0;
}

#dropdown-account li>time {
    font-size: 0.8rem;
    font-weight: 400;
}

#dropdown-account li.divider {
    padding: 0;
}

#dropdown-account img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}


/**
 * chat wrapper
 */

.chat-wrapper {
    position: fixed;
    width: 400px;
    font-size: 12px;
    line-height: 22px;
    font-family: 'Roboto';
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-smoothing: antialiased;
    opacity: 1;
    border-radius: 10px;
    right: 23px;
    bottom: 23px;
    z-index: 997;
}

.chat_header {
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #f3f3f3;
    height: 55px;
    background: #F44336;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 8px;
}

.chat_option {
    float: left;
    font-size: 15px;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: relative;
    margin-right: 10px;
    letter-spacing: 0.5px;
    font-weight: 400
}

.chat_option img {
    border-radius: 50%;
    width: 55px;
    float: left;
    margin: -30px 20px 10px 20px;
    border: 4px solid rgba(0, 0, 0, 0.21);
}

.chat_option .agent {
    font-size: 12px;
    font-weight: 300;
}

.chat_option .online {
    opacity: 0.7;
    font-size: 11px;
    font-weight: 300;
}

.btnminize {
    margin: -15px 10px;
    float: right;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.7;
}

.chat_body {
    background: #fff;
    width: 100%;
    overflow-y: auto;
}

.chat_login p,
.chat_body li,
p,
a {
    -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
    animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
}

.chat_body p {
    padding: 20px;
    color: #888;
}

.chat_body .chatform {
    padding: 0 20px 20px 20px;
}

.fab_field {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fab_field a {
    display: inline-block;
    text-align: center;
}

#fab_camera {
    float: left;
    background: rgba(0, 0, 0, 0);
}

#fab_send {
    float: right;
    background: rgba(0, 0, 0, 0);
}

.fab_field .fab {
    width: 35px;
    height: 35px;
    box-shadow: none;
    margin: 5px;
}

.fab_field .fab>i {
    font-size: 1.6em;
    line-height: 35px;
    color: #bbb;
}

.fab_field .fab>i:hover {
    color: #42a5f5;
}
.col.s12 > .btn {
   width: 100%;
}
.chat_field {
    position: relative;
    margin: 5px 0 5px 0;
    width: 70%;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #4b4b4b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border: none;
    outline: none;
    display: inline-block;
}

.chat_field.chat_message {
    height: 30px;
    resize: none;
    font-size: 13px;
    font-weight: 400;
}

.chat-history{
    padding:10px 20px;
    position: relative;
    background: #fff;
    margin: 6px 0 0px 0;
    height: 300px;
    min-height: 0;
    font-size: 12px;
    line-height: 18px;
    overflow-y: auto;
    width: 100%;
}
.chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 18px;
  font-size: 12px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat-history .my-message {
  background: #86BB71;
}
.chat-history .other-message {
  background: #94C2ED;
}
.chat-history .message-data {
  margin-bottom: 15px;
}
.chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat-history img{
    width: 100%;
    margin-top:10px;
}
@media only screen and (min-width: 993px) {
    .brand-logo {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .chat-wrapper {
        width: 90%;
    }
    .chat_field {
        width: 60%;
    }
}

@media (max-width: 990px) {}

@media (min-width: 1000px) {}
